.app {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  padding: 0 20px;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.rest-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  background-color: #f5eaea;
  height: 400px;
}

.rest-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.food-img {
  width: 100%;
  height: 150px;
}

.restaurant-cards {
  display: flex;
  flex-wrap: wrap;
}

.search {
  margin-right: 5px;
  padding: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 5px;
  width: 200px;
  height: 400px;
  background-color: #f5eaea;
}

.search-bar {
  margin: 5px;
  display: flex;
  padding: 10px 0 10px 0;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #edf9f9;
  margin-top: 5px;
  box-shadow: 3px 3px 2px lightblue;
}

.flex-class {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.item-heading {
  justify-content: start;
  display: flex;
  background-color: #fbeffb;
  box-shadow: 3px 3px 0px #d8d0fb;
}

.item-info {
  display: flex;
  background-color: #e6f1ed;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 1px 2px 5px black;
  margin: 4px;
}

.item-list {
  width: 50%;
}

.contact-details {
  border: 1px dashed black;
  margin-top: 5px;
  padding: 10px;
}